/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


h1 {
  font-size: 144px;
  color: blue;
  cursor: default;
  background: rgba(255, 0, 0, .1);
  margin: 0;
  z-index: 100;
}
div#container {
  width: 100%;
  height: 800px;
  background-image: url("sterling.png");
  text-align: center;
  cursor: default;
}

#vote {
  margin: 32px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 42px;
  display: inline-block;
  padding: 12px;
  margin: 0 auto;
  z-index: 100;
}

#vote:hover {
  color: red;
  background-color: blue;
}

h3#statement {
  font-size: 32px;
  color: blue;
  background: rgba(255, 0, 0, 1);
  padding: 12px;
}

#scissor {
  background-image: url('scissors.png');
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
}

#shirt {
  border: 2px solid black;
  width: 500px;
  height: 232px;
  background-repeat: no-repeat;
  background-image: url('shirt.png');
  display: inline-block;
  margin: 24px auto;
}

#contact {
  background: red;
  color: blue;
  display: block;
  margin: 12px auto;
  width: 25%;
}
